html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Silkscreen', cursive, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  vertical-align: middle;
  width: 75px;
  height: auto;
  /* border-radius: 50%; */
}

.avatar img {
  transition: transform 0.2s;
}

.avatar img:hover {
  transform: scale(1.3);
}

.avatar.active img {
  outline: 5px solid red;
}
